{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block body %}
    {{ include('inc/navbar.html.twig') }}
    <div class="container">
        <h1>Inscription sur le site </h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
        <br/>
            <button class="btn btn-nav" type="submit">Inscription</button>
            {{ form_end(form) }}
        <p>*Vous pourrez modifier votre profil par la suite</p>
    </div>
    {{ include('inc/footer.html.twig') }}
{% endblock %}